<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="UTF-8">
	<title>百灵快传</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="assets/css/main.css?02">
</head>

<body>
<!-- 顶部开始 -->
<div class="container">
	<div class="logo">
		<a href="/"><b>B0Pass</b></a>
	</div>

	<ul class="layui-nav right" lay-filter="">
		<li class="layui-nav-item">
			<a href="javascript:;">切换显示</a>
			<dl class="layui-nav-child">
				<!-- 二级菜单 -->
				<dd>
					<a href="/files/" target="_top">
						<i class="iconfont">&#xe6b5;</i>文件列表</a>
				</dd>
				<!--<dd>
					<a href="/file-lists?${.times}" target="iframe" class="layedit-tool-active">
						<i class="iconfont">&#xe6b4;</i>图文</a>
				</dd>-->
			</dl>
		</li>
	</ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->

<!-- 右侧主体开始 -->
<div class="page-content">
	<div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
		<div class="home-sub-menu">
		<ul class="layui-nav layui-bg-orange" lay-filter="">
			<li class="layui-nav-item">
				<a href="/file-lists?${.times}" target="iframe">
					<i class="layui-icon">&#xe68e;</i> 首页</a>
			</li>
			<li class="layui-nav-item">
				<a href="./page/upload.html?${.times}" target="iframe">
					<i class="layui-icon">&#xe681;</i> 传输</a>
			</li>
			<li class="layui-nav-item">
				<a onclick="x_admin_open('手机扫码','./page/qrcode.html', 250, 320)">
					<i class="iconfont">&#xe6ec;</i> 扫码</a>
			</li>
		</ul>
		</div>
		<div class="layui-tab-content" style="top:42px;">
			<div class="layui-tab-item layui-show">
				<iframe src="/file-lists?${.times}" frameborder="0" id="iframe_0" name="iframe" class="x-iframe"></iframe>
			</div>
		</div>
	</div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
	<div class="copyright">
		百灵快传(B0Pass) v0.1
		<a href="http://github.com/bitepeng/b0pass" target="_blank">
			GitHub
		</a>
		<a href="https://gitee.com/b0cloud/b0pass" target="_blank">
			GitEE
		</a>
	</div>
</div>
<!-- 底部结束 -->
</body>

<script type="text/javascript" src="js/libs/jquery.min.js"></script>
<script type="text/javascript" src="js/libs/layui/layui.js?1"></script>
<script type="text/javascript" src="js/main.js?03"></script>
<!--<script type="text/javascript" src="js/sync.js?02"></script>-->
<script>
	var ispc=IsPC();
	if(!ispc){
		$(".footer").css("display","none");
	}
	/*
	window.onload=function (){
		syncSend("login");
		setInterval(function () {
			syncSend("login");
		},10000);
	};
	function syncDo(){
		return true;
	}
	*/
</script>
</html>